@import "bootstrap";

@mixin box-sizing{
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	overflow-y:scroll;

}

body{
	background-color:#e6e6e6;
}

section{
	overflow:auto;
}

textarea{
	resize:vertical;
}

.center{
	text-align:center;
}

.center h1{
	margin-bottom:10px;
}



/*typography*/

h1,h2,h3,h4,h5,h6{
	line-height:1;
}

h1{
	font-size: 3em;
	letter-spacing:-2px;
	margin-bottom:30px;
	text-align: center;
}

h2{
	font-size:1.7em;
	letter-spacing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
}

h3{
	font-size:20px;
}


.hero-number{
	font-size:32px;
	font-weight:bold;
	color:#4386e6;
}

p{
	font-size:1.1em;
	line-height:1.7em;
}

thead{
	background-color:#4386e6;
	font-weight:bold;
	letter-spacing:1px;
	color:#fff;
}

.table-bordered{
	border:1px solid #4386e6;
}


.navbar{
	padding-bottom:3px;

}

.navbar-inner
{
  background: #4386e6 !important;  /*this is the only way I could change the color of navbar*/
  li{
  	color:red !important;
  }
}

.brand{
	font-size:2em;
	letter-spacing:2px;
	color:#fff;
	line-height:1;
}

/*forms*/

input,textarea,select .uneditable-input {
	border:1px solid #bbb;
	width: 100%;
	padding: 10px;
	height:auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul{
		list-style:none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
