@import "bootstrap";

@mixin box-sizing{
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	overflow-y:scroll;

}

body{
	padding-top: 70px;
	background-color:#e6e6e6;
}

section{
	overflow:auto;
}

textarea{
	resize:vertical;
}

.center{
	text-align:center;
}

.center h1{
	margin-bottom:10px;
}



/*typography*/

h1,h2,h3,h4,h5,h6{
	line-height:1;
}

h1{
	font-size: 3em;
	letter-spacing:-2px;
	margin-bottom:30px;
	text-align: center;
}

h2{
	font-size:1.7em;
	letter-spacing:-1px;
	margin-bottom:30px;
	text-align:center;
	font-weight:normal;
	color:$grayLight;
}


p{
	font-size:1.1em;
	line-height:1.7em;
}

thead{
	background-color:#4386e6;
	font-weight:bold;
	letter-spacing:1px;
	color:#fff;
}

.table-bordered{
	border:1px solid #4386e6;
}

.navbar{
	background-color:#4386e6;
	border-bottom: 3px solid #fff;
	padding-bottom:3px;
	li{
		color:#fff;
	}
}


#logo{
	float:left;
	margin-left: 15px;
	font-size:2em;
	letter-spacing:1px;
	padding-top:9px;
	font-weight:bold;
	color:#fff;
	line-height:1;
	&:hover{
		text-decoration:underline;
	}
}

/*forms*/

input,textarea,select .uneditable-input {
	border:1px solid #bbb;
	width: 100%;
	padding: 10px;
	height:auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul{
		list-style:none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
