<header class="navbar navbar-fixed-top">
	<div class ="navbar-inner">

		<%= link_to "roadeo","#",id:"logo" %>
			
			<ul class="nav pull-right">
				<%if user_signed_in? %>
					<li><%=current_user.email%></li>
					<li><%=link_to "Sign out", destroy_user_session_path%></li>
				<%else%>
					<li><%= link_to "Sign In",sign_in_path%></li>
				<%end%>
			</ul>


	</div>
</header>