<ul class="nav nav-list pull-left">
	<li class="nav-header">
    	Navigation
  	</li>
	<li ><%= link_to 'Dashboard', dashboard_path %></li>
	<li><%= link_to 'Another Place', '#' %></li>
	<li class="nav-header">
    	Take Action
  	</li>
  	<li><a href="#"><i class="icon-book"></i> Library</a>
  </li>
</ul>