<h6 class="center">Your Rankings</h6>
<br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
			<tr><td></td><td>Idea</td><td>Rank</td><td>Date</td>
	</thead>
	<tbody>

		<% current_user.get_all_rank_slots.each do |slot| %>

			<% if slot.is_a?(Rank) %>

				<tr><td></td><td></i><%=link_to slot.idea.title, slot.idea%></td><td><%=slot.value%></td><td><%=slot.updated_at.to_formatted_s(:short)%></tr>

			<%else%>

				<tr><td></td><td><%="Available Rank #{slot.to_i}"%></td><td></td><td></td></tr>

			<%end%>

		<%end%>


	</tbody>

</table>